body {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 12pt;
    color: rgba(51, 51, 51, 0.724);
    background-color: rgb(156, 200, 236);
    margin: 0;
  }
.container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    background: url('openscreen.gif');
    background-size: cover;
}
.start{
    color: white;
    text-decoration: none;
   position: absolute;
   font-size: 18px;
   margin-top: 40px;
   margin-left: 85px;
}

.button{
    bottom: 10vh ;
    margin-left: 40vw;
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: 5;

}
img{

    position: absolute;
}