body {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 20pt;
  color: rgba(51, 51, 51, 0.724);
  background-color: rgb(156, 200, 236);
}
.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  background: url('images/sky.png');
  background-size: cover;
}
.sky {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#flowercontainer {
  width: 100%;
  height: 200px;
  /* background-color: black; */
  position: relative;
  z-index: 4;
  position: absolute;
  bottom: 50vh;
  left: 0;
}
.grassbottom {
  width: 100vw;
  height: 30vh;
  margin: 0px;
  background-color: rgb(137, 188, 35);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#flowerman {
  transform: translate3d(50px, 50px, 0);
}
