html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 12pt;
  color: rgba(51, 51, 51, 0.724);
  background-color: rgb(156, 200, 236);
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  background: url('images/sky.gif');
  background-size: cover;
}
.sky {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#flowercontainer {
  width: 100%;
  height: 200px;
  /* background-color: black; */
  position: relative;
  z-index: 4;
  position: absolute;
  bottom: 10vh;
  left: 0;
}
.grassbottom {
  width: 100vw;
  height: 10vh;
  margin: 0px;
  background-color: rgb(137, 188, 35);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#flowerman {
  transform: translate3d(50px, 50px, 0);
}
#arrow{
    position: absolute;
    bottom: 13vh;
    left: 80vw;
    z-index: 3;
}

h1{
    margin-top:-87px ;
    margin-left: 40px;
    font-size: 20px;
}
/*
a{
    color: rgb(64, 64, 64);
    text-decoration: none;
}

#flowerman img {
  animation-timing-function: linear;
  transition: 3s;
} 
/*
#page2 {
  background-color: firebrick;
  width: 100vw;
  height: 100vh;
}
main {
  width: 200vw;
  height: 100vh;
  display: flex;
} */
